.redb {
	width: 100%;
	font-size: 18px;
	color: #ffd626;
	border-collapse: collapse;

	td {
		width: 33%;
		padding: 8px;

		&:nth-child(2) {
			width: 15%;
		}

		&:nth-child(3) {
			width: 15%;
		}
	}

	.redr {
		background-color: red;

		td {
			border-top: 1px solid #004;

			&:first-child {
        border-left: 1px solid #004;
      }

			&:last-child {
        border-right: 1px solid #004;
      }
		}
	}

	.blackr {
		background-color: black;

		td {
			border-bottom: 1px solid #004;

			&:first-child {
				border-left: 1px solid #004;
			}

			&:last-child {
				border-right: 1px solid #004;
			}
		}
	}
}
