.redb {
	width: 100%;
	border-collapse: collapse;

	td {
		padding: 10px;
		border: 1px solid #ddd;
	}

	.redr {
		background-color: red;
	}

	.blackr {
		background-color: black;
		color: white;
	}
}
