.statistic {
	&__holder {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	&__line {
		display: flex;
		gap: 4px;
	}

	@media (width <= 540px) {
		&__line {
			flex-direction: column;
		}
	}
}
