.dozen {
	width: 100%;
	color: #14224a;
	background-color: #fffac7;
	border-collapse: collapse;

	td {
		padding: 10px;
	}

	.first,
	.second,
	.third {
		td {
			&:first-child {
				border-left: 1px solid #004;
			}

			&:last-child {
				border-right: 1px solid #004;
			}
		}
	}

	.first {
		td {
			border-top: 1px solid #004;
		}
	}

	.third {
		td {
			border-bottom: 1px solid #004;
		}
	}
}
