.analiz {
	width: 100%;
	background-color: #fffac7;
	border-collapse: collapse;
	margin: 16px 0;

	tr {
		font-size: 18px;
		color: #004;
	}

	td {
		text-align: center;
		padding: 10px;
		border: 2px solid #004;
	}

	button {
		display: block;
		width: 100%;
		height: 100%;
		font-size: 22px;
		font-weight: 700;
		color: #fe7;

		&:hover {
      background-color: #ffb;
    }
	}

	.green {
		background-color: green;
	}

	.red {
		background-color: red;
	}

	.black {
		background-color: black;
	}

	@media (width <= 768px) {
		td {
			padding: 6px;
			width: calc(100% / 6);
		}

		button {
			font-size: 16px;
		}
	}

	@media (width <= 480px) {
		td {
			padding: 4px;
			width: calc(100% / 3);
		}

		button {
			font-size: 14px;
		}
	}
}
