.analiz {
	width: 100%;
	background-color: #fffac7;
	color: #14224a;
	font-size: 18px;
	border-collapse: collapse;

	td {
		padding: 8px;
		border: 2px solid #004;

		@media (width <= 540px) {
			& {
				padding: 4px;
			}
		}
	}

	.top {
		color: #F00;
	}
}
