.stat {
	width: 100%;
	font-size: 18px;
	color: #14224a;
	background-color: #fffac7;
	border-collapse: collapse;

	td {
		width: 33%;
		padding: 8px;

		&:nth-child(2) {
			width: 15%;
		}

		&:nth-child(3) {
			width: 15%;
		}
	}

	.redr {
		td {
			border-top: 1px solid #004;

			&:first-child {
				border-left: 1px solid #004;
			}

			&:last-child {
				border-right: 1px solid #004;
			}
		}
	}

	.blackr {
		td {
			border-bottom: 1px solid #004;

			&:first-child {
				border-left: 1px solid #004;
			}

			&:last-child {
				border-right: 1px solid #004;
			}
		}
	}
}
